# Nix
result

# Fish
.config/fish/completions
.config/fish/conf.d
.config/fish/fish_variables
.config/fish/functions/fish_user_key_bindings.fish
.config/fish/functions/fzf_key_bindings.fish

# Neovim
.config/nvim/plugin

# Helix
.config/helix/runtime

# mpv
.config/mpv/watch_later

# Lazygit
.config/lazygit/state.yml
.config/lazygit/*.tar.gz

# Hyprland
.config/hypr/hyprlandd.conf
