# Editor configurations
/*.code-workspace
/.nlsp-settings
/.zed

# Nix
.direnv
result

# Fish
.config/fish/completions
.config/fish/conf.d
.config/fish/fish_variables
.config/fish/functions/fish_user_key_bindings.fish
.config/fish/functions/fzf_key_bindings.fish

# Neovim
.config/nvim/plugin

# Helix
.config/helix/runtime

# mpv
.config/mpv/watch_later

# Lazygit
.config/lazygit/state.yml
.config/lazygit/*.tar.gz

# Hyprland
.config/hypr/hyprlandd.conf

# PDM
.config/pdm/pep582

# mozc
.config/mozc/*
!.config/mozc/config1.db
!.config/mozc/ibus_config.textproto

# Code
.config/Code/*
!.config/Code/User
.config/Code/User/*
!.config/Code/User/settings.json
!.config/Code/User/keybindings.json

# Emacs
.config/emacs/*
!.config/emacs/*.el
