# Fish's extras
.config/fish/completions
.config/fish/conf.d
.config/fish/fish_variables

# Neovim compiled plugins
.config/nvim/plugin

# Helix's runtime
.config/helix/runtime

# mpv's `watch_later` directory
.config/mpv/watch_later

# Lazygit's state files
.config/lazygit/state.yml
.config/lazygit/*.tar.gz
